*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 540-px;
    width: 22vw;
    background-color: rgb(94, 83, 83);
    padding: 10px 0px;
}
.box1{
height: 166px;
 border-radius: 50%; 
 margin: 0px 10px 10px 10px;
}
.box2{
height: 166px;
 border-radius: 50%;  
 margin: 0px 10px 10px 10px;
}
.box3{
height: 166px;
 border-radius: 50%; 
 margin: 0px 10px 10px 10px;
}